name: Deploy to Server

on:
  push:
    branches: [ "deploy" ]  # или "master", в зависимости от твоей ветки

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.5.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY_FOR_DEPLOY }}

      - name: Deploy via SSH
        run: |
          ssh -o StrictHostKeyChecking=no ${{secrets.SHH_USER}}@${{ secrets.SERVER_IP }} 'sudo /home/${{ secrets.SSH_USER }}/deploy.sh'

